*{
    display:block;
    margin:0;
    padding:0;
    box-sizing:content-box;
    list-style-type: none;
    text-decoration:none;
    color:white;
}
title{
    display: none;
}
.weather{
    height:400px;
    width:500px;
    background-color:rgb(180, 30, 30);
    position:relative;
}
.city{
    text-align:center;
    font-size:200%;
}
.icon{
    width:100px;
    height:100px;
    margin-left:40%;
    background-color:white;
    margin-bottom:40px;
}
p{
    font-size:150%;
}


